@using Media_Database.Models;
@model GamesViewModel

@{
    ViewBag.Title = "Database Games";
}

<div class="row">

    <div class="jumbotron">
        <h2>Database Games</h2>
        <p>View all available games which are in the collection.</p>
        <p><a class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#upload">add New!</a></p>
    </div>
    <p>@ViewData["Title"] - Movie App</p>

    <h2>Welcome</h2>

    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.NewGame.ID)</th>
            <th>@Html.DisplayNameFor(model => model.NewGame.Titel)</th>
            <th>@Html.DisplayNameFor(model => model.NewGame.Owner)</th>
            <th>@Html.DisplayNameFor(model => model.NewGame.Path)</th>
            <th>Config</th>
        </tr>
        @foreach (var item in Model.Games) {

            <tr>
                <td>@Html.DisplayFor(modelItem => item.ID)</td>
                <td>@Html.DisplayFor(modelItem => item.Titel)</td>
                <td>@Html.DisplayFor(modelItem => item.Owner)</td>
                <td>@Html.DisplayFor(modelItem => item.Path)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="myUploadLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myUploadLabel">insert database</h4>
            </div>



            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputFile">Title</label>
                    <input type="text" class=""
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" id="btnUpload" value="Upload" class="btn btn-primary" />
            </div>

        </div>
    </div>
</div>



